
.Titulo{
    text-align: left; 
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: bold; 
    font-size: 55px; 
    color: #003399; 
    /*text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);*/
    text-align: center;

    /*background-color:#acacac;*/
    height: 100px;
}

.Titulo2{
    text-align: left; 
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: bold; 
    font-size: 55px; 
    color: #ffffff; 
    /*text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);*/
    text-align: center;

    /*background-color:#acacac;*/
    height: 100px;
}


.ContenidoDP{
    font-size: 30px;
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: black;
    font-weight: 500;
    /*background-color: #aaa;*/
    text-align: left;

}

.refContenidoDP{
    font-size: 30px;
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: 1000;
    color: #003399;
    text-align: right;
    /*background-color: burlywood;*/
}

.SeparadorSup{
    height: 30px;
}

.SeparadorSupDP{
    height: 80px;
}

.SeparadorInf{
    height: 60px;
}

.SeparadorInt{
    height: 25px;
}

.fotoDP{
    width: 200px;
    margin-left: 50%;
}

.boxEstudio{
    background-color: #aaa;
}

.ContenidoE{
    color: #003399; 
}


.degradado{
    background: linear-gradient(#7e98ce, white);

}

.idiomasPill{
    float: left;
    margin: 10px;
}

.card{
    background-color: white;
    border-color: #003399;
    margin: 8px;
    margin-bottom: 15px;
}
.card:hover {
    background-color: #7e98ce;
}

.linkEmpresa {
    color: black;
    font-weight: 300;
    font-size: 25px;
    padding-left: 40px;
    float: left;
    padding-right: 20px;

}

.presentacion {
    background: linear-gradient(to bottom right, #7e98ce, white);
    height: 100vh;

}

.tituloIntro {
    color: #003399;
    text-align: center;
    font-weight: bold;
    font-style:inherit;
    padding-top: 50%;
    font-size: 65px;
    text-shadow: 
      -1px -1px 1px #ffffff, 
      2px 2px 1px #888787;
}

.subtitulo {
    padding-top: 5%;
    text-align: center;
    color: white;
}

.divBotones{
    margin-top: 8%;
    /*margin-left: 3%;*/
    text-align: center;
}

.divBotonesFinal{
    margin-top: 2%;
    /*margin-left: 3%;*/
    text-align: center;
}

.divImagenIntro{
    display:flex;
    justify-content: center;
}

.Foto{
    width: 80%;
    margin-top: 35%;
}

#navBar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
    height: 60px;
}

.logo {
    width: 40px;
}

.card-text {
    padding-left: 40px;
    padding-bottom: 10px;
}


.card-title {
    font-size: 40px;
}

.card-title2{
    font-size: 30px;
    padding-left: 40px;
    padding-top: 10px;
}

.contenedorFinal{
    background-color: #3f3e3e;
}

.nombreFinal{
    color: white;
    text-align: center;
}

.botonFinal{
    margin-top: 7%;
    text-align: center;
}

.divTrabajo{
   background-color: white;
   margin-bottom: 30px;
}

.yearLaburo{
    padding-left: 50px;
    font-size: 25px;
    font-weight: 300;
    padding-top: 5px;
    
}

#boxP {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boxSignInButtons{
    text-align: center;
}

.boxSkills{
    /*background-color:#2f54a0;
    background: linear-gradient(#2f54a0, #5c87dd);*/
    background: linear-gradient(#2f54a0, #7e98ce);
}

