
.Titulo{
    text-align: left; 
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: bold; 
    font-size: 55px; 
    color: #003399; 
    /*text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);*/
    text-align: center;

    /*background-color:#acacac;*/
    height: 100px;
}


.ContenidoDP{
    font-size: 30px;
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: black;
    font-weight: 500;
    /*background-color: #aaa;*/
    text-align: left;

}

.refContenidoDP{
    font-size: 30px;
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: 1000;
    color: #003399;
    text-align: right;
    /*background-color: burlywood;*/
}

.SeparadorSup{
    height: 40px;
}

.SeparadorSupDP{
    height: 100px;
}

.SeparadorInf{
    height: 60px;
}

.SeparadorInt{
    height: 30px;
}

.fotoDP{
    width: 200px;
    margin-left: 50%;
}

.boxEstudio{
    background-color: #aaa;
}

.ContenidoE{
    color: #003399; 
}

.col-md-12{
    background: linear-gradient(#7e98ce, white);

}

.idiomasPill{
    float: left;
    margin: 10px;
}

.card{
    background-color: white;
    border-color: #003399;
    margin: 8px;
}
.card:hover {
    background-color: rgba(170, 170, 170, 0.233);
}

.linkEmpresa {
    color: black;
    font-weight: 300;
    font-size: 35px;

}

.presentacion {
    background: linear-gradient(to bottom right, #7e98ce, white);
    height: 100vh;

}

.titulo {
    color: #003399;
    text-align: center;
    padding-top: 50%;
    font-size: 70px;
    letter-spacing: .01em;
    text-shadow: 
      -1px -1px 1px #ffffff, 
      2px 2px 1px #888787;
}

.subtitulo {
    padding-top: 5%;
    text-align: center;
    color: white;
}

.divBotones{
    margin-top: 8%;
    /*margin-left: 3%;*/
    text-align: center;
}


.divImagenIntro{
    display:flex;
    justify-content: center;
}

.Foto{
    width: 80%;
    margin-top: 35%;
}

#navBar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.logo {
    width: 40px;
}

.card-text {
    padding-left: 40px;
}
.card-title {
    font-size: 40px;
}
