@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@400;600;700&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.Titulo{
    text-align: left; 
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: bold; 
    font-size: 55px; 
    color: #003399; 
    /*text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);*/
    text-align: center;

    /*background-color:#acacac;*/
    height: 100px;
}

.Titulo2{
    text-align: left; 
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: bold; 
    font-size: 55px; 
    color: #ffffff; 
    /*text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);*/
    text-align: center;

    /*background-color:#acacac;*/
    height: 100px;
}


.ContenidoDP{
    font-size: 27px;
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: black;
    font-weight: 500;
    /*background-color: #aaa;*/
    text-align: left;

}

#textoDescripcion{
    font-size: 27px;
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: black;
    font-weight: 500;
    text-align: center;

}

.refContenidoDP{
    font-size: 27px;
    Font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-weight: 1000;
    /*color: #003399;*/
    color: black;
    text-align: right;
    /*background-color: burlywood;*/
}

.SeparadorSup{
    height: 30px;
}

.SeparadorSupDP{
    height: 80px;
}

.SeparadorInf{
    height: 60px;
}

.SeparadorInt{
    height: 25px;
}

.SeparadorInt2{
    height: 25px;
}

.SeparadorSignIn{
    height: 15px;
}

.SeparadorIntroAbajo{
    height: 100px;
}

.fotoDP{
    width: 320px;
    /*margin-left: 40px;*/
    margin-top: -5%;
}

.boxEstudio{
    background-color: #aaa;
}

.ContenidoE{
    color: #003399; 
    text-align: center;

}

.ContenidoEstudio{
    color: #003399; 

}


.degradado{
    background: linear-gradient(#7e98ce, white);

}

.idiomasPill{
    float: left;
    margin: 10px;
    font-size: 250%;
 
}

#boxPills{
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
}


#boxPills2{
    align-items: center;
    align-items: top;
    justify-content: center;
}

.card{
    background-color: white;
    border-color: #011949;
    margin: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

}
.card:hover {
    /*background-color: #a2a2a2;*/
    /*background: linear-gradient(#b0afaf, #ffffff);*/
    box-shadow: 0px 5px 20px 5px rgb(37, 36, 36);
    transition: all 0.3s ease;
}


.linkEmpresa {
    color: black;
    font-weight: 300;
    font-size: 25px;
    padding-left: 40px;
    float: left;
    padding-right: 20px;

}

.presentacion {
    background: linear-gradient(to bottom right, #2f54a0, white);
    /*height: 100vh;*/
    height: auto;

}

.tituloIntro {
    /*color: #003399;*/
    color: black;
    text-align: center;
    font-weight: bold;
    font-style:inherit;
    /*font-family: 'Abril Fatface', cursive;*/
    font-family: 'Caveat', cursive;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 80px;
    /*font-size: 65px;*/
    text-shadow: 
      1px 1px 1px #ffffff, 
      2px 2px 1px #504f4f;
}

.boxIntro{
    padding-top: 40%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.subtitulo {
    padding-top: 5%;
    text-align: center;
    color: white;
    text-shadow: 
      1px 1px 1px #4b4a4a, 
      2px 2px 1px #3f3f3f;
}

.divBotones{
    margin-top: 8%;
    /*margin-left: 3%;*/
    text-align: center;
}

.divBotonesFinal{
    margin-top: 4%;
    /*margin-left: 3%;*/
    text-align: center;
    margin-bottom: 1%;
}

.divImagenIntro{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /*background-color: #3f3e3e;*/
}


.Foto{
    width: 60%;
    padding-top: 18%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:28%;

}


.Foto:hover{
    width: 70%;
    
    transition: all 0.5s ease;
    
}


#navBar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
    height: 60px;
}

.logo {
    width: 40px;
}

.card-text {
    padding-left: 40px;
    padding-bottom: 7px;
}


.card-title {
    font-size: 30px;
}

.card-title2{
    font-size: 30px;
    padding-left: 40px;
    padding-top: 10px;
}

.contenedorFinal{
    background-color: #3f3e3e;
}

.nombreFinal{
    color: white;
    text-align: center;
    margin-top: 1%;
}

.botonFinal{
    margin-top: 2%;
    text-align: center;

}

.divTrabajo{
   background-color: white;
   margin-bottom: 30px;
}

.yearLaburo{
    padding-left: 50px;
    font-size: 25px;
    font-weight: 300;
    padding-top: 5px;
    
}

.BoxSignIn2 {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.boxSignInButtons{
    text-align: center;
    margin-top: 20px;
}

.boxSkills{
    /*background-color:#2f54a0;
    background: linear-gradient(#2f54a0, #5c87dd);*/
    background: linear-gradient(#2f54a0, #7e98ce);
}

.boton3 {
    color: #2f54a0 !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #2f54a0;
    transition: all 1s ease;
    position: relative;
    border-radius: 20px;
    float: left;
    margin: 5px;
}
  
.boton3:hover {
    background: #2f54a0;
    color: #fff !important;
}


.boton4 {
    color: #2f54a0 !important;
    font-size: 15px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #2f54a0;
    transition: all 1s ease;
    position: relative;
    border-radius: 20px;
    float: center;
    margin: 5px;
  }
  
  
.boton4:hover {
    background: #2f54a0;
    color: #fff !important;
  }

#botonIn {
    width: 100px;
    margin-right: 20px;
    float: right;
}
#botonContacto {
    width: 100px;
    margin-right: 20px;
    float: right;
}
#botonAdmin {
    width: 100px;
    float: right;
    margin-right: 20px;

}

.divSignIn{
    height: 35%;
}

.divContacto{
    height: 30%;
}

.divAdmin{
    height:100px;
}

.boxSignIn {
    /*background-color: #2f54a0;*/
    background: linear-gradient(#2f54a0, white);
}

.boxTituloSignIn{
    text-align: center;
}


.bg2 {
    width: 100%;
    height: 100vh;
 
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #2f54a0 0%, #2f54a0 25%, #2f54a0 51%, white 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
}
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  .bg {
    width: 100%;
    height: 100vh;
 
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, white 0%, white 25%, #7e98ce 51%, #2f54a0 100%);
    -webkit-animation: AnimateBG 15s ease infinite;
            animation: AnimateBG 15s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.bg3 {
width: 100%;
height: auto;

background-size: 300% 300%;
background-image: linear-gradient(-45deg, white 0%, white 25%, #7e98ce 51%, #2f54a0 100%);
-webkit-animation: AnimateBG 15s ease infinite;
        animation: AnimateBG 15s ease infinite;
}

@-webkit-keyframes AnimateBG {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

@keyframes AnimateBG {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}


.navbar-collapse {
    background: #212529;
    float: right !important; 
}
.nav-item {
    text-align: right;
    margin-left: 10px;
    margin-right: 15px;
}

#fotoCert{
    border-radius: 20px;
}

#btnFin{
    width: 20vh;
    height: 7vh;
    background-color: #3f3e3e;
    color: white;
    font-size: larger;
    

}
#btnFin:hover{
    background-color: white;
    border-color: black;
    color: black;
    
}

.cabezeraTabla{
    background-color: #2f54a0;
    height: 50px;
    width: 100%;
    text-align: left;
    color: white;
    font-size: large;
    
}

#campoCabezera{
    /*padding-left: 20px;*/
    padding-bottom: 10px;
}

#campoCabezera1{
    /*padding-left: 20px;*/
    padding-bottom: 10px;
    width: 1%;
}

#campoCabezera2{
    /*padding-left: 20px;*/
    padding-bottom: 10px;
    width: 1%;
}

#campoCabezera3{
    /*padding-left: 20px;*/
    padding-bottom: 10px;
    width: 0.5%;
}

#campoCabezera4{
    /*padding-left: 20px;*/
    padding-bottom: 10px;
    width: 10%;
}

#campoFila{
    /*padding-left: 20px;*/
}

.BoxAdmin{
    width: 100%;
}


.filasTabla{
    background-color: rgb(235, 235, 235);
    height: auto;
    border-color: black;
}

/*
#tablaAdmin{
    width: 150vh;
}

.boxTabla{
    width: 150vh;

}
*/