button.logIn{
  float: right;
  background-color: blue;
  height: 100px;
  width: 500px;
  border-radius: 10px;
  padding-right: 10%;
}

tituloBarra {
  float: left;
  background-color: lightblue;
  font-size: 38px;
  height: 50px;
  padding-left: 10%;

}

navBar {
    color: orange;
    height: 100px;
  }
